* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;

}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.5vh 1.5vw;
  text-decoration: none;
  transition: 0.3s linear;
}

.navbar li a:hover{
  background-color: #111;
  transform: scale(1.2);
}